@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.form-container {
  display: flex;
  height: 650px;
  max-width: 1280px;
  margin-right: 150px;
  padding: 15px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.sidebar {
  width: 45%;
  background: url("../assets/images/sidebar.png") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 15px 0px 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: left;
}

.sidebar li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar .active {
  font-weight: bold;
}

.circle-button {
  background-color: #c0e0fc;
  border: solid rgb(192, 224, 252);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #03285b;
  margin-right: 10px;
}

.circle-button .active {
  background-color: #c0e0fc00;
  border-color: #c0e0fc;
}

.circle-button-text .text {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.circle-button-text .subtext {
  font-size: 12px;
  color: #ccc;
}

.header {
  text-align: left;
  margin-bottom: 20px;
}

.header h2 {
  font-size: xx-large;
  margin-bottom: 10px;
}

.header p {
  margin-bottom: 50px;
  color: #808080;
}

.form-content {
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  padding: 0px;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.form-content h2 {
  margin-bottom: 20px;
}

.form-content form {
  display: flex;
  flex-direction: column;
}

.form-content form label {
  margin-bottom: 5px;
}

.form-content form input {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.form-content form button {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 120px;
  background: white;
}

.next-step-btn {
  padding: 15px 20px;
  background: #03285b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.next-step-btn:hover {
  background: #021d4a;
}

.error {
  color: red;
  font-size: 12px;
}

.plans {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  margin: 20px 20px 20px 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.card img {
  height: 50px;
  margin-bottom: 10px;
}

.card.selected {
  border-color: #554E92;
  background-color: #F8F9FE;
}

.billing-toggle {
  display: flex;
  justify-content: center;
  background-color: #F8F9FE;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.billing-toggle label {
  margin: 0 10px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
}

.back-btn {
  padding: 15px 20px;
  background: transparent;
  color: #03285b;
  border: none;
  cursor: pointer;
}

.next-step-btn {
  padding: 15px 20px;
  background: #03285b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.next-step-btn:hover {
  background: #021d4a;
}

.input-container, .input-container input {
  width: 100%;
}

.input-label-error {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
